<style>
    .question-card{
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        margin: 8px, 0;
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
    }

    .question-card{
        margin: 4px, 0;
    }

    .question-card strong{
        color: #333;
    }
</style>


<div class="question-card">
    <p><strong>Id:</strong> {{question.id}}</p>
    <p><strong>Decrição:</strong> {{question.question_text|default:"Descrição não está disponivel"}}</p>
    <p><strong>Data da publicação:</strong> {{question.pub_date|date:"d/m/Y"}} </p>
</div>